{% extends 'base.html.twig' %}
{% block body %}

    <div class="content mt-3"><!-- start content -->

        <div class="col-sm-12">
            <div class="alert  alert-success alert-dismissible fade show text-center" role="alert">
                <span class="badge badge-pill badge-success"></span> Bonjour et bienvenu!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="page-header" style="padding: 20px;" >
                <p class="text-center" style="font-size: 30px; padding: 20px;">Que souhaitez-vous faire?</p>
                <div align="center">

                    <div class="btn-group">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-primary fa fa-eye"> Consulter</button>
                        <div tabindex="-1" aria-hidden="true" role="menu" class="dropdown-menu">
                            <a href="{{ path('requerant') }}" tabindex="0" class="dropdown-item fa fa-user">Requérant</a>
                            <a href="{{ path('dossier') }}" tabindex="0" class="dropdown-item fa fa-folder-open">Dossier</a>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-info fa fa-plus"> Nouveau</button>
                        <div tabindex="-1" aria-hidden="true" role="menu" class="dropdown-menu">
                            <a href="{{ path('requerant_new') }}" type="button" tabindex="0" class="dropdown-item fa fa-user-plus">Requérant</a>
                            <a href="{{ path('dossier_new') }}" type="button" tabindex="0" class="dropdown-item fa fa-folder-open">Dossier</a>
                        </div>
                    </div>

                    <a href="{{ path('dashboard') }}" class="btn btn-success fa fa-dashboard"> Tableau de bord</a>
                </div>
            </div>
        </div>


    </div> <!-- .content -->

{% endblock %}