{% extends 'base.html.twig' %}

{% block title %}Fichiers{% endblock %}

{% block body %}
   <div class="container">
       <h1>Liste des fichiers </h1>

       <div>
           <a href="{{ path('fichier_new') }}">Nouveau</a>
           <a href="{{ path('fichier') }}">Fichiers</a>
       </div>

       <div>
           <table class="table">
               <thead class="text-center">
                   <tr>
                       <th>Type fichier</th>
                       <th>Image</th>
                       <th>Description</th>
                       <th colspan="3">Action</th>
                   </tr>
               </thead>
               {% for fichier in fichiers %}
               <tbody>
                   <tr>
                       <td>{{ fichier.categorie }}</td>
                       <td>{{ fichier.image }}</td>
                       <td>{{ fichier.description }}</td>
                       <td><a href="{{ path('fichier_show',{id: fichier.id}) }}">Voir</a></td>
                       <td>Editer</td>
                       <td>Supprimer</td>
                   </tr>
               </tbody>
               {% endfor %}
           </table>
           <br/>
       </div>

   </div>
{% endblock %}
