{% extends 'base.html.twig' %}
{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Ajouter un type de pièce</h1><br/>

            {#<br/>#}
            {#<div>#}
                {#<a class="btn btn-primary" href="{{ path('requerant_new') }}">Ajouter</a>#}
                {#<a class="btn btn-primary" href="{{ path('requerant') }}">Liste requérants</a>#}
            {#</div>#}
            {#<br/>#}

            {# read and display just one flash message type #}
            <div id="message">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}✅
                    </div>
                {% endfor %}
                {% for message in app.flashes('warming') %}
                    <div class="alert alert-warning text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <fieldset>
                <div class="row">
                    <div class="form-group">
                        {{ form_start(form) }}
                        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}, {'attr': {'placeholder': 'nom du requérant'}} ) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </fieldset>
            <br/>
        </div>
    </div>
{% endblock %}